.resource-label {
  font-weight: bold;
}

.ability {
  margin-bottom: 2px;
}

.ability-score,
.ability-mod {
  flex: 0 0 44px;
}

.wheel {
  display: grid;
  width: 20rem;
  aspect-ratio: 1;
  margin: 2rem 0;
}

/*code here heavily borrowed from https://stackoverflow.com/a/14185845 */
.color {
    --ba: 1turn/var(--n); /* angle of one slice */
    --ca: var(--i)*var(--ba) + var(--oa, 30deg); /* slice rotation */
    --dy: 50%*tan(.5*var(--ba)); /* half a slice height */
    grid-area: 1/ 1; /* stack them all on top of each other */
    place-content: center end; /* text at 3 o'clock pre rotation */
    padding: .5em; /* space from circle edge to text */
    border-radius: 50%; /* turn square into disc */
    z-index:1;
    transform: /* need rotation before translation */
        rotate(calc(var(--ca)));
    clip-path: 
        polygon(50% 50%, 
            100% calc(50% - var(--dy)), 
            100% calc(50% + var(--dy)));
    transition: .3s;
    counter-reset: i calc(var(--i) + 1);
    display: grid;
    
    &::after {
        /* reverse parent rotation for upright text */
        rotate: calc(-1*(var(--ca)));
    }
}

.overflow {
  --ba: 1turn/var(--n); /* angle of one slice */
    --ca: var(--i)*var(--ba) + var(--oa, 30deg); /* slice rotation */
    --dy: 50%*tan(.5*var(--ba)); /* half a slice height */
    grid-area: 1/ 1; /* stack them all on top of each other */
    place-content: center end; /* text at 3 o'clock pre rotation */
    padding: .5em; /* space from circle edge to text */
    border-radius: 50%; /* turn square into disc */
    transform: /* need rotation before translation */
        rotate(calc(var(--ca)));
    transition: .3s;
    counter-reset: i calc(var(--i) + 1);
    display: grid;
    z-index:0;
}

.overflow input {
  position: relative;
  left: 1.6rem;
  z-index: 999 !important;
}

.zone {
  rotate: calc(-1 * (var(--ca)));
  place-self: center center;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 100%
}

.zone.taint {
  width: 4.4rem;
  background-color: $p-taint;
}
.zone.reset {
  width: 12rem;
  border-radius: 100%;
  border: solid 2px grey;
}

.white {background-color: $p-white;}
.black {background-color: $p-black;}
.red {background-color: $p-red;}
.blue {background-color: $p-blue;}
.green {background-color: $p-green;}
.yellow {background-color: $p-yellow;}
.none {background-color: transparent;}

.trackers input {
  appearance: auto;
  width: 1rem;
  aspect-ratio: 1;
  z-index: 10;
}
//overriding default foundry checkbox styling
.trackers input[type="radio"]:checked::before {
    content: none !important;
}
.trackers input[type="radio"]:checked::after {
    content: none !important;
}

.trackers input[type="radio"]::before {
    content: none !important;
}

.trackers input[type="radio"]::after {
    content: none !important;
}

.value-tracker {
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.value-tracker label {
  margin-top:.5rem;
  margin-bottom: .5rem;
}

.value-tracker label:nth-child(1) input {accent-color:$r-0}
.value-tracker label:nth-child(2) input {accent-color:$r-1}
.value-tracker label:nth-child(3) input {accent-color:$r-2}
.value-tracker label:nth-child(4) input {accent-color:$r-3}
.value-tracker label:nth-child(5) input {accent-color:$r-4}
.value-tracker label:nth-child(6) input {accent-color:$r-5}
.value-tracker label:nth-child(7) input {accent-color:$r-6}
.value-tracker label:nth-child(8) input {accent-color:$r-7}
.value-tracker label:nth-child(9) input {accent-color:$r-8}
.value-tracker label:nth-child(10) input {accent-color:$r-9}

.trackers fieldset {
  border: none;
}