:root {
  --palette-c-dark: #191813;
  --palette-c-faint: #c9c7b8;
  --palette-c-beige: #b5b3a4;
  --palette-c-tan: #444444;
  --palette-c-white: #ffffff;
  --palette-c-black: #000000;
  --palette-c-groove: #eeede0;

  --chromatic-white: #e1e1df;
  --chromatic-black: #353535;
  --chromatic-red: #d92644;
  --chromatic-blue: #2134de;
  --chromatic-green: #51ce51;
  --chromatic-yellow: #ebd934;
  --chromatic-taint: #421e42;
}

.theme-dark {
  --palette-c-dark: #c9c7b8;
  --palette-c-faint: #191813;
  --palette-c-beige: #444444;
  --palette-c-tan: #b5b3a4;
  --palette-c-white: #000000;
  --palette-c-black: #ffffff;
  --palette-c-groove: #11121f;
}

$c-white: var(--palette-c-white);
$c-black: var(--palette-c-black);

$c-dark: var(--palette-c-dark);
$c-faint: var(--palette-c-faint);
$c-beige: var(--palette-c-beige);
$c-tan: var(--palette-c-tan);

$c-groove: var(--palette-c-groove);

$p-white : var(--chromatic-white);
$p-black : var(--chromatic-black);
$p-red: var(--chromatic-red);
$p-blue: var(--chromatic-blue);
$p-green: var(--chromatic-green);
$p-yellow: var(--chromatic-yellow);
$p-taint: var(--chromatic-taint);