:root {
  --palette-c-dark: #191813;
  --palette-c-faint: #c9c7b8;
  --palette-c-beige: #b5b3a4;
  --palette-c-tan: #444444;
  --palette-c-white: #ffffff;
  --palette-c-black: #000000;
  --palette-c-groove: #eeede0;

  --chromatic-white: #fdfdfd;
  --chromatic-black: #23212b;
  --chromatic-red: #da2156;
  --chromatic-blue: #3954d7;
  --chromatic-green: #247955;
  --chromatic-yellow: #ffff1d;
  --chromatic-taint: #421e42;
  --chromatic-chroma: #f675c1;

  --rainbow-0: #ff595e;
  --rainbow-1: #ff924c;
  --rainbow-2: #ffca3a;
  --rainbow-3: #c5ca30;
  --rainbow-4: #8ac926;
  --rainbow-5: #36949d;
  --rainbow-6: #1982c4;
  --rainbow-7: #4151ab;
  --rainbow-8: #6a4c93;
  --rainbow-9: #944d89;
}

.theme-dark {
  --palette-c-dark: #c9c7b8;
  --palette-c-faint: #191813;
  --palette-c-beige: #444444;
  --palette-c-tan: #b5b3a4;
  --palette-c-white: #000000;
  --palette-c-black: #ffffff;
  --palette-c-groove: #11121f;
}

$c-white: var(--palette-c-white);
$c-black: var(--palette-c-black);

$c-dark: var(--palette-c-dark);
$c-faint: var(--palette-c-faint);
$c-beige: var(--palette-c-beige);
$c-tan: var(--palette-c-tan);

$c-groove: var(--palette-c-groove);

$p-white : var(--chromatic-white);
$p-black : var(--chromatic-black);
$p-red: var(--chromatic-red);
$p-blue: var(--chromatic-blue);
$p-green: var(--chromatic-green);
$p-yellow: var(--chromatic-yellow);
$p-taint: var(--chromatic-taint);
$p-chroma: var(--chromatic-chroma);

$r-0: var(--rainbow-0);
$r-1: var(--rainbow-1);
$r-2: var(--rainbow-2);
$r-3: var(--rainbow-3);
$r-4: var(--rainbow-4);
$r-5: var(--rainbow-5);
$r-6: var(--rainbow-6);
$r-7: var(--rainbow-7);
$r-8: var(--rainbow-8);
$r-9: var(--rainbow-9);